/*==============*/
/* Autocomplete */
/*==============*/
.ui-autocomplete-loading {
	background: white url("../../static/images/ui-anim_basic_16x16.gif") right center no-repeat;
}
.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}
/* IE 6 fix */
* html .ui-autocomplete {
	height: 200px;
}
.autocompleted-poster, .scanned-poster {
	width: 40px;
	float: left;
	margin-left: 10px;
}
.autocompleted-title, .scanned-title {
	font-size: 12px;
	min-width: 600px;
	margin-left: 75px;
	overflow-y: auto;
	overflow-x: hidden;
}
ul.ui-autocomplete li.ui-menu-item-wrapper {
	height: 70px;
	overflow-y: hidden;
}
a.ui-menu-item {
	color: #555;
}
a.ui-menu-item:hover {
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #003eff;
	background: #007fff;
	font-weight: normal;
	color: #ffffff;
}
.ui-icon-background,
.ui-state-active .ui-icon-background {
	border: #003eff;
	background-color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #ffffff;
	text-decoration: none;
}

/* Autocomplete item styling overwrite */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border-width: 0px;
	background-color: #e7e7e7;
	color: #333;
}
.ui-menu .ui-state-active {
	margin: 0px;
}


/*=============*/
/* Paginatiion */
/*=============*/
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	cursor:inherit;
	background-color:#fff;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}


/*======*/
/* Misc */
/*======*/
/*.thumbnail {
	margin-bottom: 0px;
}*/
#selected-movie {
	position: relative;
	display: block;
	padding: 10px 15px;
	/*margin-bottom: -1px;*/
	background-color: #fff;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	height: 85px;
	overflow-y: hidden;
}
.badge-seeds {
	background-color: #09b60b;
}
.row {
	margin-right: 0px;
	margin-left: 0px;
}
.desc-overflow {
	height: 60px;
	overflow-y: hidden;
}
.thumbs-fixed-height {
	height: 490px;
}
.btn-add {
	font-weight: bold;
	font-size: 100px;
	width: 150px;
}
#movie-title {
	width: 60%;
	margin-bottom: 10px;
}
#scanned-output ul{
	padding-left: 20px;
}
#scanned-output li{
	position: relative;
	display: block;
	padding: 10px 15px;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-bottom: -1px;
	height: 85px;
	overflow-y: hidden;
}
#scanned-output input{
	float: left;
	margin-top: 20px;
}
.scanned-disabled {
	color: #CCC;
}
#loader {
	text-align: center;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.05);
	width: 100%;
	height: 100%;
	font-size: 12em;
	z-index: 9999;
	/*top: 50%;
	left: 50%;*/
	padding-top: 200px;
}


/*================================*/
/* SB dashboard styling overwrite */
/*================================*/
.container-fluid { padding-left: 250px; }
.side-nav { background-color: #1a2f44; top: 50px; }
.navbar-default { background-color: #1a2f44; }
.navbar-fixed-top { border-width: 0px;}
.navbar-right { margin-right: 0px; }

.navbar-default .navbar-nav > li > a { color: #FFF; }
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { color: #FFF; background-color: transparent; } /* Focused item */
.navbar-default .side-nav > li > a { border-left: 5px solid #1a2f44; }
.navbar-default .side-nav > li > a:hover {
	border-left: 5px solid #FFF;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
} /* Hover item - left sidebar */


.navbar-default .side-nav > .active > a { border-left: 5px solid #FFF; } /* Selected item - left sidebar */
.navbar-default .side-nav > .disabled > a { color: #6c6969; background-color: #1a2f44; border-left-width: 0px; }  /* Disabled items  - left sidebar */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover { color: #FFF; background-color: #0a1c2f; } /* Selected item - default and hover */
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus { color: #6c6969; background-color: #1a2f44; border-left: 0px; }  /* Disabled item - default and hover*/


/*================*/
/* Items showcase */
/*================*/
.imdb-rating {
	background-image: url("../../static/images/icon-imdb.png");
	background-repeat: no-repeat;
	height: 24px;
	width: 100px;
	padding: 2px 0px 0px 55px;
	font-weight: bold;
	margin: 5px 0px 5px 0px;
}
.thumbnail-index {
	display: block;
	float: left;
	margin-right: 40px;
	position: relative;
	margin-bottom: 20px;
}
.thumbnail-index .title {
	font-weight: bold;
	font-size: 14px;
	color: #FFF;
	position: absolute;
	margin-bottom: 5px;
	margin-right: 20px;
	bottom: 15px;
	left: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.thumbnail-index .poster img {
	width: 182px;
	height: 268px;
}
.thumbnail-index .poster, .thumbnail-index .title {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.thumbnail-index .poster:after {
	/* Shadow around poster */
    box-shadow: inset -5px -120px 100px -15px #000;
    -webkit-box-shadow: inset -5px -120px 100px -15px #000;
    -moz-box-shadow: inset -5px -120px 100px -15px #000;
    -o-box-shadow: inset -5px -120px 100px -15px #000;
    position: absolute;
    top: 0px;
    bottom: 0px;
	left: 0px;
	width: 182px;
	height: 268px;
    content: "";
}
.thumbnail-index:hover .poster, .thumbnail-index:hover .title {
	/* Ease-out on poster hover */
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	-webkit-opacity: 0.5;
	opacity: 0.5;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	filter: alpha(opacity=50);
}
.thumbnail-index:hover .btn-more {
	/* Show more button */
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter: alpha(opacity=100);
}
.rating {
	font-size: 16px;
}
.rating .icon-rating {
	color: #f5b50a;
	margin-right: 10px;
}
.btn-more {
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: #286090;
	color: #FFF;
	width: 80px;
	height: 35px;
	text-align: center;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	filter: alpha(opacity=0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.btn-more:hover {
	color: #FFF;
}

