{% extends 'template.html' %}
{% block content %}
<div class="row">
	<div id="cover" class="col-md-3"></div>
	<div id="data" class="col-md-9"></div>
</div>
<script>

$(function() {
	var data = {{data|safe}};
	var epdata = {{epdata|safe}};
	var table = "{{table|safe}}";
	$('#cover').empty();
	$('#cover').append('<div class="thumbnail"><img src="' + data[0]["img_small"] + '"/></div>');
	$('#data').empty();
	$('#data').append('<h4>' + data[0]["title"] + '</h4>' + 
	'<div><b>Year:</b> ' + data[0]["year"] + '</div>' + 
	'<div><b>Description:</b> ' + data[0]["description"] + '</div>' + 
	'<div><b>Rating:</b> ' + data[0]["rating"] + '</div>' + 
	'<div><b>Director:</b> ' + data[0]["director"] + '</div>' + 
	'<div><b>URL:</b> ' + data[0]["url"] + '</div>' +
	'<div><b>Hash:</b> ' + data[0]["hash"] + '</div>');
	
	//console.log(epdata);
	if (table == "tv_shows") {
		$('#data').append('<div><b>Episodes:</b></div><div class="panel-group" id="accordion">');
		if (epdata[0] != null) {
			$.each(epdata, function(i, v) { // for each entry
				var se = v["se_num"]; var ep = v["ep_num"];
				if (se < 10){ se = "0" + se }; if (ep < 10){ ep = "0" + ep };
				
				$('#data').append(	'<div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">' +
									'<a data-toggle="collapse" data-parent="#accordion" href="#collapse' + i +'">' +
									'<strong>S' + se + 'E' + ep + ' | ' + v["title"] + '</strong>' +
									'</a></h3></div><div id="collapse' + i + '" class="panel-collapse collapse">' +
									'<div class="panel-body"><img width="300px" src="' + v["screenshot"] + '"/>' +
									'</br></br><div class="well well-sm">' + v["description"] + '</div></div></div></div>')
			});
		} else {
			$('#data').append('No episodes available</div>');
		}
		$('#data').append('</div>');
	}
});

</script>


{% endblock %}