{% extends 'template.html' %}
{% block content %}
<div id="main" class="row">
	<div id="cover" class="col-md-3"></div>
	<div id="data" class="col-md-9"></div>
	<div id="progress-wrapper" class="col-md-9"></div>
</div>
<div id="videoplayer" class="row"></div>
<input id="tv-magnet" name="tv-magnet" type="hidden" value="">
<input id="tv-hash" name="tv-hash" type="hidden" value="">
<input id="tv-imdb" name="tv-imdb" type="hidden" value="">
<input id="tv-se" name="tv-se" type="hidden" value="">
<input id="tv-ep" name="tv-ep" type="hidden" value="">
<script>

var timer;
var hashes = [];

function getData(button_id, service, se, ep, title) {
	$(button_id + se + ep).on('click', function() {
		//$("#form-submit").addClass("disabled");
		$('#torList' + se + ep).hide().empty();
		$('#torLoad' + se + ep).show();
		$.ajax({
			type: 'GET',
			url: '/' + service + '/S' + se + 'E' + ep + ' ' + title,
			dataType: 'json',
			success: function(msg) {
				$.each(msg, function(i, v) {
					$('#torList' + se + ep).append('<li class="list-group-item"><input type="radio" name="radioButtons' + se + ep + '" id="radio' + i + '" magnet="' + v[1] + '" hash="' + v[3] + '"><span class="badge badge-seeds">' + v[2] + '</span> ' + v[0] + '</li>');
					//console.log('each: ' + i + '' + v)
				});
				$('#torLoad' + se + ep).hide();
				$('#torList' + se + ep).show();
			},
			error: function (xhr, status, error) {
				console.log("Error:");
				console.log(error);
			}
		});
	});
    return;
}

// progress bar from deluge
function progressBar(timer,hashes) {
	$.each(hashes, function(hash) {
		$.ajax({
			dataType: "json",
			cache: true,
			url: "/progress/" + hash,
			success: function(data) {
				if (data == "100") { clearInterval(timer); }
				$('#progress-wrapper').html('<div class="progress">' +
				'<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="' + data +
				'" aria-valuemin="0" aria-valuemax="100" style="width:' + data + '%">' + data + '%</div></div>');
			},
			//nothing was found
			error: function(data) {
				$('#progress-wrapper').html('<div class="progress">' +
				'<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">Error</div></div>');
				clearInterval(timer); // fix for memory leak - do nothing if recieved an error
			}
		});
	});
}

$(function() {
	var data = {{data|safe}};
	var epdata = {{epdata|safe}};
	var table = "{{table|safe}}";
	$('#cover').empty();
	$('#cover').append('<div class="thumbnail"><img src="' + data[0]["img_small"] + '"/></div>');
	$('#data').empty();

	/*$('#data').append('<h4>' + data[0]["title"] + '</h4>' + 
	'<div><b>Year:</b> ' + data[0]["year"] + '</div>' + 
	'<div><b>Description:</b> ' + data[0]["description"] + '</div>' + 
	'<div><b>Rating:</b> ' + data[0]["rating"] + '</div>' + 
	'<div><b>Director:</b> ' + data[0]["director"] + '</div>' + 
	'<div><b>URL:</b> ' + data[0]["url"] + '</div>');*/
	$('#data').append('<h4>' + data[0]["title"] + ((data[0]["year"] != "") ? ' (' + data[0]["year"] + ')' : '')  + '</h4>' + 
	'<div>' + data[0]["description"] + '</div>' + 
	'<a href="' + data[0]["url"] + '"><div class="imdb-rating">' + data[0]["rating"] + '</div></a>' + 
	'<div><b>Director:</b> ' + data[0]["director"] + '</div>');

	if (table == 'tv_shows') {
		$('#data').append('<div><b>status:</b> ' + data[0]["status"] + '</div>');
		$('#data').append('<div class="panel-group" id="accordion">');
		if (epdata[0] != null) {
			$.each(epdata, function(i, v) { // for each entry
				var se = v["se_num"]; var ep = v["ep_num"];
				if (se < 10){ se = "0" + se }; if (ep < 10){ ep = "0" + ep };
				
				$('#data').append('<div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">' +
				'<a data-toggle="collapse" data-parent="#accordion" href="#collapse' + i +'">' +
				'<strong>S' + se + 'E' + ep + ' | ' + v["title"] + '</strong>' +
				'</a></h3></div><div id="collapse' + i + '" class="panel-collapse collapse">' +
				'<div class="panel-body"><img width="300px" src="' + v["screenshot"] + '"/>' +
				'</br></br><div class="well well-sm">' + v["description"] + '</div>' +
				((v["folder"] && v["folder"] != "") ? '<button id="playepisode-' + i + '" name="playepisode" type="button" class="btn btn-success">Play</button>' : '') +
				'<button id="tpbsearch' + se + ep + '" name="tpbsearch" type="button" class="btn btn-warning">Search on TPB</button>' +
				'<button id="eztvsearch' + se + ep + '" name="eztvsearch" type="button" class="btn btn-primary">Search on EZTV</button>' +
				'</div><div id="torLoad' + se + ep + '" style="display: none;">' +
				'<img src="../../static/spinner.gif"/></div>' +
				'<ul class="list-group" id="torList' + se + ep + '"></ul>' +
				'<button id="form-submit-' + se + ep + '" type="submit" class="btn btn-primary disabled hidden">Add</button>' + 
				'</div></div>');
				
				$('#tv-imdb').val(data[0]["imdb_id"]);
				$('#tv-se').val(v["se_num"]);
				$('#tv-ep').val(v["ep_num"]);

				getData('#tpbsearch', 'tpb', se, ep, data[0]["title"]);
				getData('#eztvsearch', 'eztv', se, ep, data[0]["title"]);
			});
		} else {
			$('#data').append('No episodes available</div>');
		}
		$('#data').append('</div>');
	} else {
	
		// Show video
		if (data[0]["folder"] != "") {
			$('#videoplayer').hide();
			$('#videoplayer').html('<video id="video" width="800" controls><source src="..\\..\\media\\' + data[0]["imdb_id"] + '\\' + encodeURI(data[0]["folder"]) + '" type="video/mp4">Your browser does not support HTML5 video.</video>');
			
			var video = document.getElementById("video");
			video.addEventListener('loadedmetadata', function () {
				$('#videoplayer').show();
			});
		}
	
		// Initialize progress bar
		if (data[0]["hash"] != "") {
			//$('#data').append('<div><b>hash:</b> ' + data[0]["hash"] + '</div>');
			progressBar("", [data[0]["hash"]]);
			timer = setInterval(function() { progressBar(timer, [data[0]["hash"]]); }, 10000)
		}

	}

	// Play button is pressed
	$("button[name='playepisode']").click(function() {
		var num = $(this).attr("id").replace("playepisode-","");
		var path = epdata[num]["folder"];
		$('#videoplayer').html('<video id="video" width="800" controls><source src="..\\..\\media\\' + data[0]["imdb_id"] + '\\' + encodeURI(path) + '" type="video/mp4">Your browser does not support HTML5 video.</video>');
		$('html, body').animate({
			scrollTop: $("#videoplayer").offset().top
		}, 500);
	});

	// Change magnet input on checkbox click
	$("ul[id^='torList']").on("change", "input[name^='radioButtons']", function() {
		$("#tv-magnet").val($(this).attr("magnet"));
		$("#tv-hash").val($(this).attr("hash"));
		$("#form-submit-" + $(this).attr("name").replace("radioButtons","")).removeClass("hidden").removeClass("disabled");
	});

	$("button[id^='form-submit']").click(function() {
		$(this).addClass("disabled").hide();
		season_episode = $(this).attr("id").replace("form-submit-","");
		$('#torList' + season_episode).hide().empty();
		$("#loader").show();
		$.ajax({
			type: 'POST',
			url: "/update/torrent/",
			//cache: true,
			data: {
				"tv-imdb" : $("#tv-imdb").val(),
				"tv-magnet" : $("#tv-magnet").val(),
				"tv-hash" : $("#tv-hash").val(),
				"tv-se" : $("#tv-se").val(),
				"tv-ep" : $("#tv-ep").val()
			},
			success: function(data) {
				console.log(data);
				$("#tv-imdb").val("");
				$("#tv-magnet").val("");
				$("#tv-hash").val("");
				$("#tv-se").val("");
				$("#tv-ep").val("");
				$('#videoplayer').hide();
				$('#videoplayer').html('<video id="video" width="800" controls><source src="..\\..\\media\\' + data + '" type="video/mp4">Your browser does not support HTML5 video.</video>');
				var video = document.getElementById("video");
				$("#loader").hide();
				video.addEventListener('loadedmetadata', function () {
					$('#videoplayer').show();
				});
				//$(this).after("");
				// LOADING GIF
				// RELOAD PAGE?
			},
			error: function(xhr, status, error){
				alert("Error: " + String(error));
				console.log(status);
				console.log(String(error));
			}
		});
	});

});

</script>


{% endblock %}