{% extends 'template.html' %}
{% block content %}
<h3 class="text-left">Scan local folder for media files</h3>
<input id="folder-to-search" name="folder-to-search" value="D:\Movies">
<button id="form-submit" type="submit" class="btn btn-primary">Scan</button>
<ul id="output"></ul>

<script>
$(function(){
	// https://stackoverflow.com/questions/31948285/display-data-streamed-from-a-flask-view-as-it-updates
	$("#form-submit").click(function(){
		var xhr = new XMLHttpRequest();
		xhr.open("POST", "/scan/scan_folder/", true);
		xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhr.send("folder-to-search=" + $("#folder-to-search").val());
		var position = 0;
		var timer = setInterval(function() {
			processResponse();
			if (xhr.readyState == XMLHttpRequest.DONE) {
				clearInterval(timer);
				$("#output").append("<li>Done</li>");
				alert("Done!");
			}
		}, 1000);
		function processResponse() {
			var messages = xhr.responseText.split('\n');
			messages.slice(position, -1).forEach(function(value) {
				$("#output").append("<li>" + value + "</li>");
			});
			position = messages.length - 1;
		}
	});
});
</script>
{% endblock %}